# NODE CONFIG
PORT=5000
NODE_ENV=development

# DATABASE
DATABASE_URL=postgresql://ronyortiz:@localhost:5432/ecommerce26?schema=public

# BETTER AUTH
BETTER_AUTH_SECRET=
FRONTEND_URL=http://localhost:5173
BETTER_AUTH_URL=http://localhost:5173

# SENTRY
SENTRY_DSN=

# STREAM
STREAM_API_KEY=
STREAM_API_SECRET=

# IMAGE KIT
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_ID=ronywebdev
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/ronywebdev
